{% extends "website/baseWebsite.html" %}

{% load staticfiles %}
{% block title %}Vipassana Meditation Hungary: Ajahn Tong{% endblock title %}
{% block content %}

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">VIPASSANA</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ajahntong">AJAHN TONG</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#teachers">TEACHERS</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#courses">COURSES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#information">INFORMATION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></a>

                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'website:index' %}" style="color:red;" >MAGYAR</a>
                   </li>
                     <!--<li>
                        <a class="page-scroll" href="{% url 'blog:user_login' %}" style="color:red;" ><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                   </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="color:yellow;">VIPASSANA MEDITATION</div>
                <p>in the lineage of Ajahn Tong Sirimangalo</p><br><br><br><br><br><br><br><br>
                <p></p>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about"  class="bg-light-gray">
        <div class="container" align="center">
        <div class="jumbotron" align="center">
       <div class="container" align="center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <img src="{% static 'img/buddha.png' %}">
                    <br>
                    <br>
                    <h2>VIPASSANAINFO.HU</h2><br><br><br>
                    <p style="font-family: 'Times New Roman', Times, serif ;">The website was created to help organise meditation courses, following the lineage and technique of the  <a href="#ajahntong">Venerable Ajahn Tong Sirimangalo</a>.<br>  <br><a href="#teachers" >Thanat and Kathryn Chindaporn</a> started to teach the technique on the international level more than 25 years ago and they also support organisation of courses in Hungary.<br><br></p>
                   <hr>
                </div>
            </div>
            </div>
            </div>
</section>



    <!-- Services Section -->
    <section id="ajahntong">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

<br>
<br>
                    <h2 class="section-heading">Ajahn Tong Sirimangalo</h2>

                    <h3 class="section-subheading text-muted">Highly respected monk and meditation master of our time. He is the abbot of the Buddhist Monastery Wat Chomtong in Northern Thailand. He has practiced and taught Satipattana Vipassana Meditation over 60 years in Thailand as well as Europe and America. The 93 years old most venerable Ajahn is presently residing and teaching in Thailand at Wat Chom Tong.</h3>
                    <img src="{% static 'img/ajahn.jpg' %}" style="height: 25%; width: 25%;">
                </div>
            </div>

        </div>


    </section>
   <section id="teachers" class="bg-light-gray">
          <div class="container" align="center">
    <h2><strong>TEACHERS</strong></h2>
   <br><br>     <div class="row">
            <div class="col-xs-12 col-md-6">
               <div class="thumbnail thumbnail-teachers">
                    <div><img src="{% static 'img/thanat2.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4><strong>THANAT CHINDAPORN</strong></h4><p> Teacher of Vipassana Meditation in the Therevada Buddhist tradition of Thailand. Since 1985 he was trained under Venerable Ajarn Tong Sirimangalo and the late Venerable Phra Banyat Akkayano. Currently the Director of the International Meditation Department at Wat Chomtong. The past 30 years he has conducted meditation courses in Thailand, Washington State, Hawaii, California, Canada, Mexico, Puerto Rico, Colombia, Germany, Slovenia, Sweden, Spain, France, Israel and India. In 2004 he received Thailand's Benefactor of Buddhism Award for his dissemination of Buddhism world-wide.</p>


                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail thumbnail-teachers">
                    <div><img src="{% static 'img/kate2.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4><strong>KATHRYN CHINDAPORN</strong></h4><p>Teacher of  Vipassana for over 25 years. Since 1988 counducted courses world-wide with his husband Thanat Chindaporn. From 1999 to 2007 she lectured at the Mahachulalongkorn Rajavidyalaya Buddhist University in Chiangmai, Thailand and is currently Thai-English interpreter and Assistant Director of the International Meditation Department at Wat Phradhatu Sri Chomtong Voravihara, Chomtong. Since 1989 she has interpreted for Thai meditation masters, published five Thai-English Buddhist translations. In 2000, Kathryn received the Benefactor of Buddhism Award of Chiangmai Province and the Sema Dhammacakka (Golden Pillar of Dhamma Award) in Recognition of International Dissemination of Buddhism, the latter conferred by HRH Princess Maha Chakri Sirindhorn of Thailand.</p>


                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/PhraOfer.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>PHRA OFER</strong></li>

                <li><p>The Venerable  Phrakhrubhāvanābidhān (Phra Ajarn Ofer Thiracitto) has been practicing Vipassana meditation since 1989.
                First at Wat Rampoeng in Chiang Mai thereafter at Wat Phradhatu Sri Chomtong Voravihara with the Venerable Phra Prom Mongkol Vi
                (Phra Ajarn Tong Sirimalango) and Luang Poh Banyat Akkayano, under the instruction of Khun Thanat and Khun Kathryn Chindaporn.
                1998 he was authorized to be meditation teacher by  Venerable Phra Ajarn Tong Sirimangalo.
                For several years Phra Ajarn Ofer taught meditation in Israel before he ordained as a monk in Thailand in 2001,
                followed by several years as monk and meditation teacher at a Buddhist temple near Frankfurt, Germany.
                2006 he followed an invitation of his students back to his homeland Israel.
                He was awarded with the “Annual Benefactor of Buddhism Award” for his service in the Dhamma in May 2010 in Chiang Mai, Thailand.
                Another Award followed in May 2011 in Bangkok by HRH Princess Maha Chakri Sirindhorn of Thailand,
                the Award of the “Sao Sema Dhammacakka” (also known as the Golden Pillar of the Dhamma) for benefactors of Buddhism,
                awarded for introducing and spreading the Dhamma abroad.
                At the moment Phra Ajarn Ofer is teaching courses in various places in the world.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>
   <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/asher.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>ASHER GAL</strong></li>

                <li><p>Asher Gal has been practicing Vipassana since 1988 under Phra Beniat Akaino and Thanat Chindaporn. He assisted Thanat for several years and became a teacher in 2005. Asher is a diving instructor and stone sculptor residing in Eilat, Israel. Since 2005 he has been teaching in Israel and in the Dhammacari center in Germany.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/sandra.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>SANDRA LUZ CIBRIAN RAMIREZ</strong></li>

                <li><p>Sie is originally from Mexico and
                has been practicing Vipassana Meditation since 1990.
                Her teachers are the former Venerable Phra Banyat Akkaynoat at Wat Rampoeng in Chiang Mai
                and Venerable Ajahn Tong Sirimangalo at Wat Phradhatu Sri Chomtong Voravihara, and the last years Thanat Chindaporn.
                Started to teach in 1996. Since 2010 she has spent most of her time at Wat Chomthong and teaches there alongside Kathryn and Thanat Chindaporn.
                Over the last years, Sandra has also been invited to Spain and Mexico to teach meditation retreats there. </p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/hilde.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>HILDEGARD HUBER</strong></li>

                <li><p>She has been a student of Ven. Ajahn Tong Sirimangalo (Phra Dhammamangalajarn) since 1992.
                During the first eight months of intensive practice of Vipassana meditation in Thailand, she recognized the wealth of
                the Dhamma which opened up a new view of life. In 1998 Ven. Ajahn Tong authorised her as Vipassana teacher.
                At the suggestion of Ven. Ajahn Tong, the Dhammacari Vipassana Meditation Center Association was founded in September 2004 with the mission to establish a meditation center in Germany.
                The center was opened in February 2006 in Sonnenthal (near Munich). Hildegard Huber has resided there ever since.
                She was awarded the "Annual Benefactor of Buddhism Award" twice for her service in the Dhamma by the Sangha in May 2011 and 2012 in Chiang Mai.
                In Bangkok she received the award of the "Sao Sema Dhammacakka" (also known as the Golden Pillar of the Dhamma) for benefactors of Buddhism,
                awarded for introducing and spreading the Dhamma abroad by HRH Princess Maha Chakri Sirindhorn of Thailand.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/jonathan.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>JONTHAN PREBOY</strong></li>

                <li><p>Jonathan Preboy attended school in the KwaZulu Natal midlands, South Africa,
                and worked as a clinical psychologist in Durban for 6 years. He first meditated at the Buddhist Retreat Center in Ixcopo in 1992.
                After practicing various meditation techniques in the 90’s, he went searching for a teacher in Thailand.
                In 2002, he was fortunate to find Ajahn Tong, a Vipassana meditation master based in Northern Thailand.
                He started practicing meditation and in 2003 he ordained as a monk for 2 months under Ajahn Tong.
                In 2004 he began his training as Vipassana teacher and thereafter taught meditation to international students at
                the temple in Thailand and overseas. Currently he is teaching in Prague, Tisaran Meditation Center</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/MichaelFreund.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>MICHAEL FREUND</strong></li>

                <li><p>Michael Freund is originally from Germany and has been practicing Vipassana Meditation since 2010.
                His teachers are Khun Thanat Chindaporn and Khun Kathryn Chindaporn at Wat Chomtong.
                There he has spent several months meditating during the years under instructions of his teacher Khun Thanat Chindaporn.
                2012 he began assisting in retreats and since 2015 he is teaching under Khun Thanat.
                In 2016 The Venerable Phra Ajarn Tong Sirimangalo authorized him to be a meditation teacher.
                In 2016 he moved to The Algarve in Portugal to build up a center for Vipassana Meditation.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/anna.png' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>ANNA SCHARFENBERG</strong></li>

                <li><p>Anna Scharfenberg was born in Germany and started practicing Vipassana meditation in Europe in 2004.
                Over the next three years she meditated intensively and was involved with managing and organizing meditation courses.
                In 2007, she travelled to Thailand to develop her meditation practice.
                After meeting the Venerable Ajahn Tong she continued practicing and working at Wat Chom Tong,
                Thailand and at his meditation center in Germany (Dhammacāri Vipassana Meditation Center) until 2012. Currently she is teaching in Prague, Tisaran Meditation Center</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/katarina.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>Katarína Bírešová</strong></li>

                <li><p>She was born in Slovakia and has lived most of her adult life in the UK, with her professional background being neuroscience care. She started practising Vipassana in 2012 and was trained as a teacher by Thanat Chindaporn in Chom Tong.
                She started the vipassana.sk project in 2016 and invited Thanat and Kathryn Chindaporn to Slovakia for the first course.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

</div
    </section>




    <!-- Portfolio Grid Section -->

    <!-- Portfolio Grid Section -->
    <section id="courses">
        <div class="container" align="center">

    <h2><strong>COURSES</strong></h2><br><br>
        <div class="row">
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/bp.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>HUNGARY</strong><br></h4><p>(Budapest)</p><br><br><h4>DHARMA TALK</h4><br><strong><h4>July 2017.</strong><br></h4><br>
                        <br><p>Teachers:<br> Thanat &amp; Kathryn Chindaporn<br><br></p>
                        <h4><a href="#információ" class="portfolio-link" data-toggle="modal">Information</a></h4>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/zolyom.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>SLOVAKIA</strong></h4><p>(Zvolen)</p><br><br><h4>FOUNDATION COURSE</h4><br><h4><strong>31. July - 13. August 2017.</strong></h4><br><br><p>Teachers:<br> Thanat &amp; Kathryn Chindaporn &amp; <br>Katarína Bírešová<br>
                         <h4><a href="#szlovakia" class="portfolio-link" data-toggle="modal">Information</a></h4>



                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/praga.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>Czech Republic</strong></h4><p>(Prague)<br></p><br><h4><br>COURSES ONGOING</h4><br><br><br><br><br><p>Teachers: <br>Jonathan Preboy &amp; Anna Scharfenberg</p><br>
                        <h4><a href="#tisarana" class="portfolio-link" data-toggle="modal">Information</a></h4>



                    </div>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/bulgaria.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>BULGARIA</strong></h4><p>(Pamporovo)</p><br><br><h4>FOUNDATION COURSE</h4><br><strong><h5>14 - 27 July 2017</strong><br></h5><br>
                        <br>Teachers<br> Thanat &amp; Kathryn Chindaporn <br><br></p>
                        <h4><a href="#bulgaria" class="portfolio-link" data-toggle="modal">Information</a></h4>
                </div>
            </div>
        </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/portugal.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>PORTUGAL</strong></h4><p>(Algarve)</p><br><br><h4>FOUNDATION COURSE</h4><br><h5><strong>17 - 29. June 2017</strong></h5><br><br><p>Teachers:<br> Phra Ofer &amp; Asher Gal &amp; Michael Freund<br><br></p>
                         <h4><a href="#portugal" class="portfolio-link" data-toggle="modal">Information</a></h4>



                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/sonnenthal.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>GERMANY</strong></h4><p>(Sonnenthal)</p><br><br><h4>COURSES ONGOING</h4><br><br><br><br><p>Teacher: <br>Hildegard Huber</p><br>
                        <h4><a href="#hilde" class="portfolio-link" data-toggle="modal">Information</a></h4>



                    </div>
                </div>
            </div>


        </div>
    </div>
    </section>


    <!-- Team Section -->
    <section id="information" style="background-color:#e8e9ed;">
       <div class="container" align="center">
  <h2><strong>ABOUT THE MEDITATION TECHNIQUE</strong></h2><br><br>      <div class="row">
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail thumbnail-info">
                    <div class="card-block">
                        <h4><strong>About the technique</strong></h4>
                        <p>The technique that is taught is an intensive form of the burmese Mahasi Sayadaw technique with sequences of mindful&nbsp;prostrations, walking and sitting meditation like it is taught&nbsp;by the <br>Most Ven. Ajahn Tong&nbsp;Sirimangalo.<br><br>* * *<br>During the course meditators learn through simple and&nbsp;structured exercises to apply mindfulness on body,&nbsp;feelings, mind and mind-objects (Satipatthana – Four<br>Foundations of Mindfulness) and all arising phenomena&nbsp;are labelled mentally.<br><br>* * *<br>Each participant is guided by the meditation teacher in daily report, during which the exercises are given and explained.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail thumbnail-info">
                    <div class="card-block">
                        <h4><strong>Courses</strong></h4>
                        <p>Introduction course: 1 - 3 days<br>Basic course: 13 - 15 days<br><em><br></em><em>after finishing the Basic course</em><br>Retreat: 11 days<br>* &nbsp;* &nbsp;*&nbsp;</span><br><strong>Daily schedule</strong><br>04:00 Wake up</span><br>06:30 Breakfast<br>11:30 Lunch<br>22:00 Sleep<br>Between time meditation practice according to the teachers instructions.<br>* &nbsp;* &nbsp;*<br><strong>Location</strong><br>Varies depend on the course.<br>Find more infromation <a href="#courses">here.</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-info">
                    <div class="card-block">
                        <h4 class="card-title text-xs-center"><strong>Rules</strong></h4>
                        <p class="card-text text-xs-center">During the course every student must follow the 8 buddhist precepts:<br><br><strong>1.</strong>. to abstain from killing any living creature</span><br><strong>2.</strong> to abstain from taking what is not given<br><strong>3.</strong> to abstain from all sexual activity<br><strong>4.</strong> to abstain from speaking what is not true<br><strong>5.</strong> to abstain from all intoxicants (alcohol, drugs)<br><strong>6.</strong> to abstain from eating solid food after 12 Noon<br><strong>7.</strong> to abstain from sensual entertainment (dancing, singing, reading, listening to the radio), and bodily decoration (jewels, perfume, cosmetics)<br><strong>8.</strong> to abstain from sleeping on high or luxurious beds&nbsp;</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
<br><br>
     <div class="container" align="center">
   <h2><strong>FREQUENTLY ASKED QUESTIONS</strong></h2>
   <br><br>      <div class="row">
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail thumbnail-gyik">
                    <div class="card-block">
                        <h4><strong><br>What is Vipassana?</strong><br><strong><br></strong></h4>
                        <p>Vipassana is an ancient meditation technique was rediscovered by Gautama Buddha around 2500 years ago.&nbsp;<br>Vipassana means: 'to see things as they really are'.<br>During the practice one can get deeper insight into the true nature of reality and overcome suffering.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-gyik">
                    <div class="card-block">
                        <h4><strong>Whom the course is recommended?</strong></h4>
                        <p><br>The course is recommended for everybody who is willing to follow the teachers instructions and able to keep the rules.<br><span style="font-size: 1rem; line-height: 1.5;">* &nbsp;* &nbsp;*</span><br>No previous experience is necessary<br>&nbsp;* &nbsp;* &nbsp;*<br>Beginner and advanced meditators are also welcome.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-gyik">
                    <div class="card-block">
                        <h4><strong>What can I gain from practicing?</strong></h4><br>
                        <p>Buddha was asked: “What have you gained from Meditation?” He replied: “Nothing.”<br> “However”, Buddha said, “let me tell you what I lost: Anger, Anxiety, Depression, Insecurity, Fear of Old Age and Death.”</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-gyik">
                    <div class="card-block">
                        <h4><strong>Course fees?</strong><strong><br></strong></h4><br><br>
                        <p>Vipassana meditation instructions are offered by the teachers for free. The students will have the opportunity to give voluntary donations at the end of the course to support the teachers expenses (flight ticket, etc.).<br>* * *<br>Costs for accomodation & food varies by courses. Information will be given in detail in the <a href="#courses">course</a> description.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-gyik">
                    <div class="card-block">
                        <h4><strong>Should I be Buddhist to practice?</strong></h4>
                        <p><br>No, you don't need to be Buddhist to practice. <br>* * *<br>It is important to understand that Vipassana is a meditation technique and not a religion or philosophie. The nature of reality does not depend on religious or philisophical views.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail thumbnail-gyik">
                    <div class="card-block">
                        <h4><strong>Can I finish the basic course less than 13 days?</strong><br><br></h4>
                        <p>No it is not possible to finish the basic course less then 13 days. <br>* * *<br>However you are always welcome to practice for shorter period if you wish to. Even some days of practice is beneficial<p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>



    <!-- Contact Section -->
    <section id="kapcsolat">

 <div class="container" align="center">
        <div class="jumbotron" align="center">

         <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h3>CONTACT<br></h3>
                    <br><br><br><br><br>
                    <p style="font-size:1.5em;"><strong>For course registration please contact us at:</strong></p>
                    <br>info@buddhavipassana.hu<br>Contact person: Peter Szaszak<br>tel: +36-30-9082823<br><br><br>
                        <p><hr></p>

                        <br><br>

 <div id="contact">
     <div class="container">
        <div class="row">


         <div class="col-sm-6 col-md-12 col-lg-12">

             <div class="thumbnail" style="border:0px">
                <form id="contact-form" method="post" action="{% url 'website:english' %}" role="form">
                    {%  csrf_token %}

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Last Name *</label>
                                    <input id="form_name" type="text" name="last_name" class="form-control"  value="{{last_name}}" placeholder="Last Name *" required="required" data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">First Name*</label>
                                    <input id="form_lastname" type="text" name="first_name" class="form-control" value="{{first_name}}" placeholder="First Name*" required="required" data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" value="{{email}}" placeholder="Email cím *" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_phone">Phone</label>
                                    <input id="form_phone" type="tel" name="phone" value="{{phone}}" class="form-control" placeholder="Phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control" value="{{message}}" placeholder="Please leave a message here *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-send" value="Send">
                            </div>
                        </div>
                    </div>



                </form>

             </div>
         </div>

   </div>


        </div>

    </div>
<br><br>
<p><hr></p>
<br><br>
                    <p style="font-size:1.5em;"><strong>The meditation technique practiced in the lineage of Ajahn Tong Sirimangalo<br> can be found also here:</strong></p><br>


                   <a href="http://www.northernvipassana.org" target="_blank">Thailand<br> (Northern Insight Vipassana Meditation Center)</a><br><br>
                    <a href="http://www.vipassana.sk" target="_blank">Slovakia</a><br><br>
                    <a href="http://www.tisarana.cz/en/" target="_blank">Czech Republic <br>(Tisarana Vipassananusorn Meditation Center)</a><br>
                    <a href="http://www.vipassana-dhammacari.com/meditationszentrum_eng.html" target="_blank">Germany Sonnenthal <br>(Dharmachari Meditation Center)</a><br><br>
                    <a href="http://www.watthaigoetzenhain.npage.de" target="_blank">Germany Frankfurt<br> (Wat Buddhapiyawararam)</a><br><br>
                    <a href="http://vipassana-tilakkhana.com" target="_blank">Portugal<br> (Tilakkhana Vipassana)</a><br>
                    <a href="http://www.vipassana-bulgaria.com" target="_blank">Bulgaria</a><br><br>
                    <a href="http://www.buddhavipassana.ca" target="_blank">Canada</a><br><br>
                   <a href="http://www.budismoonline.com" target="_blank">Mexico <br>(Bodhi Tree Vipassana Institute)</a><br><br>


                </div>
            </div>
<br><br><br><br><br>
<p><hr></p>

    <br><br><br>
    <div class="container" align="center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Organiser</h3>
                    <h3 class="section-subheading text-muted"></h3><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/peter.jpg' %}" class="img-responsive img-circle" alt=""><br><br>
                        <h4>Szaszák Péter</h4>
                        <p class="text-muted">(Hungary)</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/katarina.jpg' %}" class="img-responsive img-circle" alt=""><br><br>
                        <h4>Katarína Bírešová</h4>
                        <p class="text-muted">(Slovakia)</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


            <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/vaczlav.jpg' %}" class="img-responsive img-circle" alt=""><br><br>
                        <h4>Vaczlav Šmilauer</h4>
                        <p class="text-muted">(Czech Republic)</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>

        </div>

    </div>
    </div>

    </div>
    </section>

    <footer>

    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->


<div id="információ" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">DHARMA TALK IN BUDAPEST</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/bp.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>We will organize a Dharma talk with Thanat & Kathryn Chindaporn. Details will be sonn available. </p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="szlovakia" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">FOUNDATION COURSE SLOVAKIA (Zvolen)</h4>
      </div>
      <div class="modal-body">
       <img class="img-responsive img-circle" src="{% static 'img/zolyom.jpg' %}" alt="" style="height: 90%; width: 90%;" ><br><br>
                                <p>Intense 2-week retreat (foundation course) with Thai and Slovak teachers; capacity 25 meditators, individual approach, cost 330€ for accomodation, teaching on donation basis. We welcome both beginners and those with prior meditation experience, irrespective of religion, gender or age (16+). <br>
                                <br> INFORATION & REGISTRATION <a href="http://vipassana.sk/hu" class="text-primary" target="_blank">www.vipassana.sk</a> <br> or with us on this <a href="#contact" class="text-primary" target="_blank">webpage.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  <!-- Modal -->
<div id="tisarana" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Courses in the Czech Republic</h4>
      </div>
      <div class="modal-body">
        <p> <img class="img-responsive img-circle" src="{% static 'img/praga.jpg' %}" alt="" style="height: 90%; width: 90%;" ><br><br>
                                <p>The center is open 7 days / week and provides teaching and conditions for the practice. The courses are on individual basis, without the need to wait for some date — special courses (as announced in newsletters) and regular meditation groups being an exception to that.<br>
                                * It is possible to come for introduction: have tea, talk to the teacher and get an idea what is this all about, try the practice for an hour or more;<br>
                                an arbitrary number of days (one day, or several); <br>
                                * coming for a part of a day is also fine; basic course with the duration of 21 days; <br>
                                * it is possible to finish earlier, but you must discuss this with the teacher per e-mail in advance; <br>
                                * 10-day retreat – for those who have already done the basic course;<br>
                                * home retreat − for those who have already done the basic course and 10-day retreat, subject to agreement with the teachers;
                                <br>* weekly evening meditation group, Tuesdays 6pm−8pm, with the possibility of talking to the teacher. Group meeting involves a talk by the teacher, introduction to practice for newcomers and joint meditation. <br>
                                In principle, we invite anyone to come any time for the practice, but we need to assure good conditions for long-time participants.<br><br>Thanks to the generosity of good people, the course can be entirely donation-based this time. We nevertheless hope to cover the costs with your donations. They will be used to cover course expenses: flight tickets for teachers, rental of the house, operating costs. Thanks in advance!<br><br>


                                <br> INFORMATION & REGISTRATION <a href="http://tisarana.cz" class="text-primary" target="_blank">www.tisarana.cz</a></p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="bulgaria" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">FOUNDATION COURSE IN BULGARIA</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/bulgaria.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>The course will be held between July 14th and July 27th in the hotel of the Bulgarian National Television in Pamporovo.<br>
                                <br>INFORMATION & REGISTRATION:  <a href="http://www.vipassana-bulgaria.com"> www.vipassana-bulgaria.com</a></p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="portugal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">FOUNDATION COURSE IN PORTUGAL</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/portugal.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>“Monte da Barroquinha” is located close to Tavira in the lovely landscape of “Ria Formorsa”. It has a quiet atmosphere and so it is a good place for meditation.<br>
                <br>INFORMATION & REGISTRATION: <a href="http://vipassana-tilakkhana.com/de/lehrer/"> Tilakkhana Vipassana Meditation Center</a></p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hilde" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">COURSES IN GERMANY <br> DHARMACHARI MEDITATION CENTER</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/sonnenthal.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>The center is open 7 days / week and provides teaching and conditions for the practice. <br> The participation in the courses is based on donation. We specifically do not give any recommendation for a donation to the teacher, in some cases travel expenses, as well as for the house, room and board. This is in accordance with the Buddhist tradition that the value of the teaching cannot be measured in money. However, the teacher and the meditation center are dependent on voluntary donations (dana) for their livelihood, resp. for the expenses for food and lodging in order to be able to continue the teaching. Giving and generosity are active aspects of any spiritual practice. They help to maintain the teaching and to make it available to everyone.
                                <br><br>INFORMATION & REGISTRATION: <a href="http://www.vipassana-dhammacari.com"> Dharmachari Meditation Center</a></p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>






{% endblock content %}
