{% extends "website/baseWebsite.html" %}

{% load staticfiles %}

{% block title %}Vipassana Meditació Magyarország: Ajahn Tong{% endblock title %}

{% block content %}


<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">VIPASSANA</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rolunk"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ajahntong">AJAHN TONG</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#oktatok">OKTATÓK</a>
                    </li>


                    <li>
                        <a class="page-scroll" href="#tanfolyamok">TANFOLYAMOK</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#informacio">INFORMÁCIÓ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#kapcsolat" ><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></a>

                    </li>
                    <li>
                        <a href="{% url 'website:english' %}" style="color:red;">ENGLISH</a>
                   </li>
                   <!--<li>
                        <a class="page-scroll" href="{% url 'blog:user_login' %}" style="color:red;" ><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                   </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">

                <div class="intro-lead-in"  style="color:yellow;">VIPASSANA MEDITÁCIÓ</div>
                <p>Ajahn Tong Sirimangalo hagyományvonalán</p><br><br><br><br><br><br><br><br>
                <p></p>
            </div>

        </div>
    </header>

    <!-- About Section -->
    <section id="rolunk" class="bg-light-gray">
         <div class="container" align="center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                <img src="{% static 'img/buddha.png' %}">
                    <br>
                    <br>

                    <h1>VIPASSANAINFO.HU</h1><br><br>
                    <p style="font-size: 20px;">A weboldal azzal a céllal jött létre, hogy meditációs tanfolyamok szervezésével, Magyarországon és Közép/Kelet-Európában is megismertesse Tiszteletreméltó <a href="#ajahntong">Ajahn Tong Sirimangalo</a> thaiföldi mester hagyományvonalán gyakorolt Vipassana meditációt.<br><br>A technika nemzetközi szinten való terjesztése <a href="#oktatok">Thanat és Kathryn Chindaporn</a> nevéhez fűződik, akik kezdeményezték a magyarországi tanfolyamszervezést is.&nbsp;<br><br></p>
                     <hr>
                </div>
            </div>

    </section>

    <!-- Services Section -->
    <section id="ajahntong">


        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">


<br>
<br>
                    <h2 class="section-heading">Ajahn Tong Sirimangalo</h2>


                    <h3 class="section-subheading text-muted">A thaiföldi Wat Phradat Sri Chomtong Voravihara Meditációs Központ és kolostor apátja. 1923-ban született, 12 éves kora óta él buddhista szerzetesként. Az utóbbi 60 évet a Vipassna Meditáció tanításának szentelte. A 93 éves Vipassana Mester jelenleg is tanít Thaiföldön.</h3>
                    <img src="{% static 'img/ajahn.jpg' %}" style="height: 25%; width: 25%;">
                </div>
            </div>

        </div>



    </section>




    <!-- Portfolio Grid Section -->
    <section id="oktatok" class="bg-light-gray">
         <div class="container" align="center">

         <h2><strong>OKTATÓK</strong></h2>
   <br><br>

   <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail thumbnail-teachers">
                    <div><img src="{% static 'img/thanat2.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4><strong>THANAT CHINDAPORN</strong></h4><p>A thaiföldi Chomtong Meditációs Központ Nemzetközi Részlegének alapítója és vezetője. Ajahn Tong tanítványa és az 1980-as évek közepétől oktat Vipassana meditációt a világ minden táján. Az elmúlt 30 évben tanfolyamokat vezetett Mexicóban,Egyesült Államokban, Hawai szigetén, Columbiában, Indiában, Izraelben, Németroszágban, Szlovéniában, Svédországban, Franciaországban, Spanyolországban, Oroszországban, Ukrajnában, Bulgáriában.&nbsp;2004-ben a thaiföldi kormány munkája elismeréseként a kitüntetésben részesített.&nbsp;</p>


                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail thumbnail-teachers">
                    <div><img src="{% static 'img/kate2.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4><strong>KATHRYN CHINDAPORN</strong></h4><p>Férjével közösen több mint 25 éve oktat Vipassana meditációt. 1989 óta thai-angol fordítóként is segíti thaiföldi mesterek tanításainak külföldön való megismertetését. 1999-2007 között a Chiang Mai Buddhista Egyetem oktatója volt. &nbsp;2000-ben Thaiföld királynője a  Sema Dhammacakka ("A Dhamma Aranypillére") kitűntetésben részesítette a Buddha tanításainak nemzetközi szinten való terjesztéséért.&nbsp;
                    </p>


                    </div>
                </div>
            </div>


        </div>
    </div>

<div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/PhraOfer.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>PHRA OFER</strong></li>

                <li><p>A Tiszteletreméltó Phrakhrubhāvanābidhān (Phra Ajarn Ofer Thiracitto) 1989-óta gyakorolja a Vipassana meditációt.
                Előszőr chiang mai-i Wat Rampoeng-ban később Ajahn Tong és Luang Poh Banyat Akkayano mellett Chomtong Meditációs Központban, Thanat és Kathryn Chindaporn
                utasításai alapján végezte a gyakorlatokat.
                1998-ban Ajahn Tong feljogosította a technika oktatására. Ezt követően pár évig Izraelben tanított miután 2001-ben szerzetesi fogadalmat tett,
                és a Frankfurt melletti Buddhista templomba költözött. 2006-ban tanítványai visszahívták Izraelbe.
                Munkája elismeréseként 2010-ben Chiang Mai-ban a “Annual Benefactor of Buddhism Award” és 2011-ben Bangkokban a “Sao Sema Dhammacakka” kitűntetésben részesült Thaiföld Hercege által.
                Jelenleg Phra Ofer több országba vezet tanfolyamokat.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>
   <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/asher.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>ASHER GAL</strong></li>

                <li><p>1988 óta gyakorolja a Vipassana meditációt, tanárai Phra Beniat Akaino, Ajahn Tong és Thanat Chindaporn voltak.
                Több évig segítette Thanat munkáját aszistensként, majd 2005-ben egyénileg is tanítani kezdett.
                Asher búvároktató, szobrász. Az izraeli Eliat városában él.
                2005 óta tanít Izraelben, Thaiföldön, Németországban és rendszeresen utazik tanfolyamokat tartani más országokba is.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/sandra.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>SANDRA LUZ CIBRIAN RAMIREZ</strong></li>

                <li><p>Sandra Mexikóban született, 1990-ben találkozott először a Vipassana meditációval. Tanárai Phra Phra Banyat Akkaynoat at Wat Rampoeng in Chiang Mai
                Venerable Ajahn Tong Sirimangalo at Wat Phradhatu Sri Chomtong Voravihara és Thanat Chindaporn.
                1996-ban kezdett tanítani. 2010-2015 között a Chomthong Meditációs Központ Nemzetközi Részleg oktatójaként dolgozott Kathryn és Thanat Chindaporn mellett.
                Tanfolyamokat vezetett még Spanyolországban, Mexikóban, Indonéziában, Portugáliában. Jelenleg egy mexikói meditációs központ vezetője. </p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/hilde.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>HILDEGARD HUBER</strong></li>

                <li><p>Hildegard 1992-ban végezte az első intenzív Vipassana tanfolyamot Thaiföldön. 1998-ban Ajahn Tong feljogositotta a technika oktatására és javasolta a németországi tanfolyamszervezés megkezdését. 2004-ben megalalkult A "Dhammacari Vipassana Meditation Center Association" a meditációs központ megépítése céljából. Az új központ 2006-ban nyílt meg Sonnenthalban (München közelében). Hildegard Huber azóta ott tartózkodik.
                A Buddha tanításainak határokon túli terjesztésében végzett munkája elismeréseként, 2012-ben Thailand hercege kitüntetésben részesítette.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/jonathan.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>JONTHAN PREBOY</strong></li>

                <li><p>Jonathan a dél-afriaki származású, klinikai pszichológus. 1992-ben kezdett először meditációval foglalkozni az Ixcopo Buddhist Retreat Központban.
                A 90'es években többfajta technikát is kipróbált és így jutott el Thaiföldre is. 2002-ben találkozott először Ajahn Tonggal.
                2003-ban 2 hónapot buddhista szerzetesként élt a kolostorban.
                2004-ben elkezdte az oktató tréninget és tíz évig a Meditációs Központ Nemzetközi részlegén vezetett tanfolyamokat külföldi tanulók számára.
                Jelenleg a prágai Tisarana Meditációs Központ oktatója.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/MichaelFreund.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>MICHAEL FREUND</strong></li>

                <li><p>Michael német származású és 2010 óta gyakorolja a Vipassana meditációt.
                Tanárai Thanat Chindaporn és Kathryn Chindaporn Chomtongban.
                Az utóbbi években több hosszú hónapot töltött intenzív meditációs elvonulásokon Thanat Chindaporn mellett.
                2012-től aszisztensként segítette a tanárok munkáját intenzív elvonulásokon. 2015-óta maga is tanárként foglalkozik
                a tanulókkal Thanat felügyelete alatt.
                2016-ban Ajahn Tong feljogosította a technika oktatására.
                Ugyan ebben az évben a portugáliai Algarvébe költözött egy meditációs központ megépítése céljábó, ahol megkezdte a tanfolyamok szervezését.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/anna.png' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>ANNA SCHARFENBERG</strong></li>

                <li><p>Anna 2004-ben kezdte a Vipassana meditáció gyakorlását. Az ezt követő 3 évben több meditációs tréningen vett részt és
                tanfolymok szervezését segítette. 2007-ben utazott először Thaiföldre, hogy több időt tölthessen a gyakorlással, amelyet Chom Tong-ban folytatott tovább.
                2012-ig a németországi Dhammacari központban élt és dolgozott segítve a meditációs tréningek levezetését. Jelenleg a prágai Tisrana Meditációs Központ oktatója.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="#" class="thumbnail thumbnail-oktatok">
            <div class="col-md-12">
                <img src="{% static 'img/katarina.jpg' %}" style="width:50%; height:auto;" alt="Generic placeholder thumbnail" />
            </div>
            <div class="col-md-12">
              <ul>
                <li><strong>Katarína Bírešová</strong></li>

                <li><p>Katarína Szlovákiában született, élete nagyobb részét Angliában töltötte ideggyógyászati ápolóként. 2012. óta gyakorol Vipassana meditációt, Thanat Chindaporn által oktató képzésben részesült. 2016-ban kezdte a "vipassana.sk" programot felkérve Thanat és Kathryn Chindapornt az első szlovákiai tanfolyam levezetésére.</p></li>
              </ul>
            </div>
        </a>
    </div>
</div>

</div
    </section>

    <!-- Portfolio Grid Section -->

    <section id="tanfolyamok">
        <div class="container" align="center">

    <h2><strong>AKTUÁLIS TANFOLYAMOK, ESEMÉNYEK</strong></h2><br><br>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/bp.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>MAGYARORSZÁG</strong></h4><p>(Budapest)</p><br><br><h4>ELŐADÁS</h4><br><strong><h5>2017. július 29.</strong><br></h5><br>
                        <br><p>Előadók:<br> Thanat &amp; Kathryn Chindaporn<br><br></p>
                        <h4><a href="#információ" class="portfolio-link" data-toggle="modal">Információ</a></h4>
                </div>
            </div>
        </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/zolyom.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>SZLOVÁKIA</strong></h4><p>(Zólyom)</p><br><br><h4>ALAPTANFOLYAM</h4><br><h5><strong>2017. július 31 - augusztus 13.</strong></h5><br><br><p>Oktatók:<br> Thanat &amp; Kathryn Chindaporn<br><br></p>
                         <h4><a href="#szlovakia" class="portfolio-link" data-toggle="modal">Információ</a></h4>



                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/praga.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>CSEHORSZÁG</strong></h4><p>(Prága)</p><br><br><h4>TANFOLYAMOK FOLYAMATOSAN</h4><br><br><br><br><p>Oktatók: <br>Jonathan Preboy &amp; Anna Scharfenberg</p><br>
                        <h4><a href="#tisarana" class="portfolio-link" data-toggle="modal">Információ</a></h4>



                    </div>
                </div>
            </div>


        </div>
            <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/bulgaria.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>BULGÁRIA</strong></h4><p>(Pamporovo)</p><br><br><h4>ALAPTANFOLYAM</h4><br><strong><h5>2017. július 14 - 27.</strong><br></h5><br>
                        <br><p>Oktatók<br> Thanat &amp; Kathryn Chindaporn<br><br></p>
                        <h4><a href="#bulgaria" class="portfolio-link" data-toggle="modal">Információ</a></h4>
                </div>
            </div>
        </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/portugal.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>PORTUGÁLIA</strong></h4><p>(Algarve)</p><br><br><h4>ALAPTANFOLYAM</h4><br><h5><strong>2017. június 17 - 29.</strong></h5><br><br><p>Oktatók:<br> Phra Ofer &amp; Asher Gal &amp; Michael Freund<br><br></p>
                         <h4><a href="#portugal" class="portfolio-link" data-toggle="modal">Információ</a></h4>



                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail-courses">
                    <div><img src="{% static 'img/sonnenthal.jpg' %}" class="card-img-top" style="width:100%; height: 100%;"></div>
                    <div class="card-block">
                        <h4><strong>NÉMETORSZÁG</strong></h4><p>(Sonnentahl)</p><br><br><h4>TANFOLYAMOK FOLYAMATOSAN</h4><br><br><br><br><p>Oktató: <br>Hildegard Huber</p><br>
                        <h4><a href="#hilde" class="portfolio-link" data-toggle="modal">Információ</a></h4>



                    </div>
                </div>
            </div>


        </div>
    </div>
    </section>


    <!-- Team Section -->
    <section id="informacio" class="bg-light-gray">
        <div class="container" align="center">
    <h2><strong>A NÁLUNK OKTATOTT MEDITÁCIÓS TECHNIKÁRÓL</strong></h2><br><br>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-info">
                        <h4><strong>Meditációs technika</strong><br><strong><br></strong></h4>
                        <p>Az oktatott technika a burmai Mahasi Sayadow által kidolgozott Satipatthana Vipassana meditációs technika intenzívebb formája, tudatos járó és ülő meditációkkal,  Tiszteletreméltó Ajahn Tong Sirimangalo tanítása alapján.<br><br>*  *  *<br>A tanfolyamon résztvevők egy struktúrált egyszerű gyakorlatsoron keresztül sajátíthatják el a tudatos jelenlét alkalmazását a test-tudatban megjelenő jelenségek megfigyelésével.<br><br>*  *  *<br>A résztvevők a tanfolyam kezdetekor részletes ismertetőt kapnak a technikához. A gyakorlás során mindenkinek lehetősége van napi beszélgetésre egyénileg az oktatóval, ahol kérdéseket tehetnek fel és megoszthatják tapasztalataikat.&nbsp;<br><br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-info">
                        <h4><strong>Tanfolyamok rendszere</strong><strong><br></strong></h4>
                        <p></p><p>Bevezető tanfolyam: 1-3 nap<br>Alaptanfolyam: 13-15 nap<br><br>Alaptanfolyam elvégzése után<br>Elvonulások: 11 nap<br><br>*  *  *<br><strong>Tanfolyamok napirendje</strong><br>04:00 Ébresztő<br>06:30 Reggeli<br>11:30 Ebéd<br>22:00 Takarodó<br><br>A fent maradó időben gyakorlás az oktatótól kapott utasítások alapján.<br><br>*  *  *<br><strong>Tanfolyamok helyszíne</strong><br>Változó.<br>Információ az aktuális eseményekről<br><a href="#tanfolyamok">itt található</a><a href="#tanfolyamok"></a><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-info">
                        <h4><strong>Szabályok</strong><br><strong><br></strong></h4>
                        <p>A tanfolyam ideje alatt 8 szabályt kell betartani a résztvevőknek:</span><br><br><strong>TARTÓZKODÁS:</strong><br><strong>1.</strong> bármilyen élőlény elpusztításától<br><strong>2.</strong> lopástól<br><strong>3.</strong>  minden szexuális aktivitástól<br><strong>4.</strong> hazugságtól, másokat bántó beszédtől<br><strong>5.</strong> alkohol és drog és egyéb tudatmódosító szerek fogyasztásától<br><strong>6</strong>. délutáni evéstől<br><strong>7.</strong> szórakozástól, ékszerek viselésétől<br><strong>8.</strong> magas, luxus ágy használatától<br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>

    <div class="container" align="center">
     <h2><strong>GYAKRAN ISMÉTELT KÉRDÉSEK</strong></h2>
   <br><br>    <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-gyik">

                        <h4><strong>Mi az a Vipassana?</strong><br><br></h4>
                        <p>A Vipassana egy ősi meditációs technika, amelyet 2500 évvel ezelőtt Gautama Buddha újra felfedezett.&nbsp;<br>Vipassana jelentése: meglátni a dolgok valódi lényét. <br>A gyakorlatok során az egyén ömegfigyelés és tudatos jelenlét gyarolása során képes mélyebb megértéshez jutni, és ez által tisztábban látni önmagát és a körülötte lévő világot.<br><br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                   <div class="thumbnail thumbnail-gyik">
                        <h4><strong>Kinek ajánlott a tanfolyam?</strong><br><strong><br></strong></h4>
                        <p>A tanfolyam elsősorban azoknak ajánlott, akik hajlandóak komolyan gyakorloni és követni az oktatók utasításait és képesek betartani a tanfolyam szabályait.<br><br>* * *<br>Korábbi meditációs tapasztalat nem szükséges<br><br><br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                   <div class="thumbnail thumbnail-gyik">
                        <h4><strong>Mit nyerek majd ha részt veszek a tanfolyamon?</strong></h4>
                        <p><br>Buddhát egyszer&nbsp;<br>megkérdezték: „Mit nyertél a meditációval?”<br>„Semmit! <br>Válaszolta. De hadd mondjam el, hogy mit veszítettem: haragot, szorongást, depressziót, bizonytalanságot, és az öregségtől és haláltól való félelmet."<br><br><br><br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-gyik">
                        <h4><strong>Tanfolyami költségek?</strong></h4>
                        <p><br>A hagyományokat követve az oktatásnak nincsen díja. Ahogyan a korábban végzett tanítványainknak úgy a tanfolyam végén a jelenlegi részvevőknek is lehetőségük van adománnyal hozzájárulni ahhoz, hogy a Vipassana meditáció minél több emberhez eljuthasson. <br><br>* * *<br>A szállás és ellátás költségei <a href="#tanfolyamok">tanfolyamonként</a> külön lesznek feltűntetve.<br><br><br> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-gyik">
                        <h4><strong>Buddhistának kell-e lennem, hogy gyakorolhassak?</strong><br><br></h4>
                        <p>Nem, nem szükésges buddhistának lenni. A gyakorláshoz semmilyen vallási kötődés nem szükséges. Fontos megérteni, hogy a Vipassana egy meditációs technika és nem egy vallás, vagy filozófiai irányzat.</span><br>A valóság abszolút természete nem függ vallási vagy filozófiai nézetektől.<br>Ha valaki vallási hovatartozásából eredően bizonytalan abban, hogy elkezdjen e gyakorolni, annak érdemes hitoktatójától a kérdésben tanácsot kérni.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card cart-block">
                    <div class="thumbnail thumbnail-gyik">
                        <h4><strong>Nincs 13 napom, hogy elvégezzem az alaptanfolyamot! Rövidebb idő alatt is lehet?</strong><br></h4>
                        <p>Az alaptanfolyam elvégzése nem lehetséges rövidebb idő alatt.<br><br>* * *<br>Viszont bármelyik tanfolyamon lehetőség van rövidebb ideig részt venni. Ha valakinek csak pár napja van azt is érdemes kihasználni a gyakorlásra.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>




    <!-- Contact Section -->
    <section id="kapcsolat">
         <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h3>KAPCSOLAT<br></h3>
                    <br><br><br><br><br>
                    <p><strong>Kérdéseket, javaslatokat, tanfolyami regisztrációkat az alábbi email címen vagy telefonszámon várjuk:</strong></p><br>info@buddhavipassana.hu<br>Szervező: Szaszák Péter<br>tel: +36-30-9082823<br><br><br>

                    <hr>



                    <p><strong>Az Ajahn Tong hagyományvonalán gyakorolt meditációs technika megtalálható még:
                    </strong><br></p>
                    <ul>

                    <li><a href="http://www.northernvipassana.org" target="_blank">Thaiföld (Northern Insight Vipassana Meditation Center)</a></li><br>
                    <li><a href="http://www.vipassana.sk" target="_blank">Szlovákia</a></li><br>
                    <li><a href="http://www.tisarana.cz/en/" target="_blank">Csehország (Tisarana Vipassana Meditációs Központ)</a></li><br>
                    <li><a href="http://www.vipassana-dhammacari.com/meditationszentrum_eng.html" target="_blank">Németország Sonnenthal (Dharmachari Meditációs Központ)</a></li><br>
                    <li><a href="http://www.watthaigoetzenhain.npage.de" target="_blank">Németország Frankfurt (Wat Buddhapiyawararam)</a></li><br>
                    <li><a href="http://vipassana-tilakkhana.com" target="_blank">Portugália (Tilakkhana Vipassana)</a></li><br>
                    <li><a href="http://www.vipassana-bulgaria.com" target="_blank">Bulgária</a></li><br>
                    <li><a href="http://www.buddhavipassana.ca" target="_blank">Kanada</a></li><br>
                    <li><a href="http://www.budismoonline.com" target="_blank">Mexiko (Bodhi Tree Vipassana Institute)</a></li><br>
                    </ul>

                    <hr>

                </div>
            </div>
            <br>  <br>

 <div id="contact">
        <div class="container">
    <div class="row">


         <div class="col-sm-6 col-md-3 col-lg-6 col-lg-offset-2">

             <div class="thumbnail" style="border:1px solid blue;">

                <form id="contact-form" method="POST" action="{% url 'website:index'%}" role="form">
                    {% csrf_token %}

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Vezeték név *</label>
                                    <input id="form_name" type="text" name="first_name" class="form-control" placeholder="Vezeték név *" value="{{first_name}}" required="required" data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Kereszt név *</label>
                                    <input id="form_lastname" type="text" name="last_name" class="form-control" placeholder="Kereszt név*" value="{{last_name}}" required="required" data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email cím *" value="{{email}}" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_phone">Telefon</label>
                                    <input id="form_phone" type="text" name="phone" class="form-control" placeholder="Telefonszám" value="{{phone}}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Üzenet *</label>
                                    <textarea id="form_message" type="text"name="message" class="form-control" value="{{message}}"placeholder="Üzenet tartalma *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-send" value="Küldés">
                            </div>
                        </div>

                    </div>

                </form>
             </div>
         </div>
         </div>
         </div>



    <br><br><br><br>
            <div class="container" align="center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Szervezők</h3>
                    <h3 class="section-subheading text-muted"></h3><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/peter.jpg' %}" class="img-responsive img-circle" alt=""><br><br>
                        <h4>Szaszák Péter</h4>
                        <p class="text-muted"><br>(Magyarország)</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/katarina.jpg' %}" class="img-responsive img-circle" alt=""><br><br>
                        <h4>Katarína Bírešová</h4>
                        <p class="text-muted"> <br>(Szlovákia)</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/vaczlav.jpg' %}" class="img-responsive img-circle" alt=""><br><br>
                        <h4>Vaczlav Šmilauer</h4>
                        <p class="text-muted"><br>(Csehország)</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>

    <footer>

    </footer>

    <!-- Portfolio Modals -->
    <div id="információ" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ELŐADÁS (Budapest)</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/bp.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>Az előadás várható időpontja 2017. július 29. A szervezés még folyamatban, részletekről információ hamarosan elérhető. </p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>

  </div>
</div>


<div id="szlovakia" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ALAPTANFOLYAM SZLOVÁKIA (Zólyom)</h4>
      </div>
      <div class="modal-body">
       <img class="img-responsive img-circle" src="{% static 'img/zolyom.jpg' %}" alt="" style="height: 90%; width: 90%;" ><br><br>
                                <p>Az 13 napos alaptanfolyam a szlovákiai Zólyom közelében a Javori Meditációs Központban lesz megrendezve. Oktatás egyénileg személyre szabottan. Maximum
                                25 fő részére. A szállás és ellátás költsége 330Euro. Ha valaki szeretne részt venni, de pénzügyi helyzete ezt nem engedi, jelezze és
                                megpróbálunk megoldást találni.   <br>
                                <br> Információ és jelentkezés: <a href="http://vipassana.sk/hu" class="text-primary" target="_blank">www.vipassana.sk</a> <br> vagy itt nálunk a <a href="#kapcsolat" class="text-primary" target="_blank">weboldalon.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>

  </div>
</div>

  <!-- Modal -->
<div id="tisarana" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Csehországi tanfolyamok</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive img-circle" src="{% static 'img/praga.jpg' %}" alt="" style="height: 90%; width: 90%;" ><br><br>
                                <p>Csehországban a tanfolymokra folyamatosan lehet jelentkezni. Mindenki egyénileg kezdi a részvételt, amint van szabad hely. A tanfolyamok költsége támogatók által finanszírozott. A résztvevők tanfolyam végén önkéntes adományokkal járulhatnak hozzá a meditációs központ működéséhez.  <br> Az oktatók angol-német nyelven beszélnek, így nyelvismeret szükséges a részvételhez.<br>
                                <br> Információ és jelentkezés: <a href="http://tisarana.cz" class="text-primary" target="_blank">www.tisarana.cz</a></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>

  </div>
</div>

<div id="bulgaria" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ALAPTANFOLYAM BULGÁRIÁBAN</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/bulgaria.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>A tanfolyam a "Bulgarian National Television" hotelben lesz megtartva Pamporovoban.<br><br>
                                INORMÁCIÓ & RGISZTRÁCIÓ: <a href="http://www.vipassana-bulgaria.com"> www.vipassana-bulgaria.com</a></p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>

  </div>
</div>

<div id="portugal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ALAPTANFOLYAM PORTUGÁLIÁBAN</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/portugal.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>A “Monte da Barroquinha” Tavira mellett egy gyönyőrű környezetben fekszik, amely ideális meditációs elvonulások megszervezésére.<br><br>
                INORMÁCIÓ & RGISZTRÁCIÓ: <a href="http://vipassana-tilakkhana.com/de/lehrer/"> Tilakkhana Vipassana Meditációs Központ</a></p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>

  </div>
</div>

<div id="hilde" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NÉMETORSZÁGI TANFOLYAMOK<br> DHARMACHARI MEDITÁCIÓS KÖZPONT</h4>
      </div>
      <div class="modal-body">
         <img class="img-responsive img-circle" src="{% static 'img/sonnenthal.jpg' %}" alt="" style="height: 90%; width: 90%;"><br><br>
                                <p>A meditációs központ a hét minden napján nyitva tart. Jelentkezőket folyamatosan fogadják szabad helyek függvényében. <br>
                                A részvétel díja nagylelkű támogatók által finanszírozott. A részvevők a tanfolyam végén belátásuk szerint adományokkal járulhatnak hozzá a meditációs központ működéséhez.<br><br>
                                <br>INORMÁCIÓ & RGISZTRÁCIÓ: <a href="http://www.vipassana-dhammacari.com"> Dharmachari Meditációs Központ</a></p><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>

  </div>
</div>


{% endblock content%}




