{% extends "blog/base.html" %}
{% load urlify %}

{% block head_title %}{{doc.title}}| {{block.super}}{% endblock head_title %}

{% block content %}








<div class="col-sm-6 col-lg-offset-1">
     {% if document.image %}
    <img src="{{ document.image.url }}" class="img-responsive"/>"
   {% endif %}
    <h1> {{ document.title }} <small><br>{{ document.timestamp }}</small></h1>
{% if document.user.get_full_name %}
    <p>Autor full name {{document.user.get_full_name}}</p>
    {% endif %}

    <p>Autor username: {{document.user}}</p>

<div class="fb-like" data-href="{{request.build_absolute.uri}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

    <br><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute.uri}}">
Facebook
</a>


<a href="https://twitter.com/home?status={{ instance.content|truncatechars:20|urlify }}%20{{request.build_absolute.uri}}">
Twitter
</a>


    <hr/>
    This is the urlfy : {{ document.content|truncatechars:20|urlify }}<br>


    <div class="row">



        <div class="col-sm-12">
            <div class="content-markdown post-detail-item">

 Content: {{ document.content }}<br>

            <hr/>
            <br/>
            </div>

    <div class="fb-comments" data-href="{{request.build_absolute.uri}}" data-numposts="5"></div>

    </div>
    </div>
</div>


<div class="col-sm-6 col-lg-1">

    </div>

<div class="col-sm-6 col-lg-3" align="center">
<h3>All documents in the <br>"{{ postslug|upper }}"<br> topic:</h3>

    {% for doc in document_list%}
  <div class="thumbnail thumbnail-document" align="center" style="border: 1px solid blue;">


                    <img src="{{ doc.image.url }}" class="img-responsive" style="height:150px; width:auto;"/>
                <!--<div id="formButton">-->
                    <h4><strong>{{doc.title}}</strong></h4>


      <a href="{% url 'blog:read' slug=doc.slug postslug=postslug %}" class="btn btn-primary btn-xs">READ</a>




              </div>
    {% endfor %}

</div>


{% endblock content %}

 <!--
<br><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute.uri}}">
Facebook
</a>


<a href="https://twitter.com/home?status={{ doc.content|truncatechars:20|urlify }}%20{{request.build_absolute.uri}}">
Twitter
</a>

 This is the urlfy : {{ doc.content|truncatechars:20|urlify }}<br>

 <div class="fb-comments" data-href="{{request.build_absolute.uri}}" data-numposts="5"></div>-->



    <!--<a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>-->


        <!--<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">-->
<!--Linkedin-->
<!--</a>-->

<!--<a href="http://www.reddit.com/submit?url=http://swiftforentrepreneurs.com/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>-->


