{% extends "blog/base.html" %}
{% load urlify %}

{% block head_title %}{{post.title}}| {{block.super}}{% endblock head_title %}



{% block content %}





<div class="container" id="tourpackages-carousel">

      <div class="row">


         <div class="col-sm-6 col-md-3 col-lg-3">

             <div class="thumbnail" style="background: silver; border: 2px solid red;">
             <img  src="{{ post.image.url }}" class="img-responsive" style="heigth:100px; width:auto;"/>
                 <div class="caption">

                     <h3><strong>{{post.title}}</strong></h3>

                 </div>

                 <a href="#">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Document
                    </a>
             </div>
         </div>
      </div>
    <div class="container" id="tourpackages-carousel">

      <div class="row">
{% for doc in document %}

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="thumbnail thumbnail-document" align="center" style="border: 1px solid blue;">


                    <img src="{{ doc.image.url }}" class="img-responsive" style="height:150px; width:auto;"/>
                <!--<div id="formButton">-->
                    <h4><strong>{{doc.title}}</strong></h4>

                        <a href="{% url 'blog:read' slug=doc.slug postslug=post.slug %}" class="btn btn-primary btn-xs">READ</a>


              </div>

          </div>
          {% endfor %}
      </div>
</div>




{% endblock content %}


 <!--<form action="#" method="POST" style="display:inline-block">
                        {% csrf_token %}
                        <input type="hidden" name="likePlus" value="{{doc.id}}">
                        <button type="submit" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> 0</button>

                        </form>
                    <form action="#" method="POST" style="display:inline-block">
                        {% csrf_token %}
                        <input type="hidden" name="dislikePlus" value="{{doc.id}}">
                       <button type="submit" class="btn btn-danger btn-sm">
                           <span class="glyphicon glyphicon-thumbs-down"></span> 0</button>
                    </form>

                </div>
                    <div>

                         <a href="#" class="btn btn-default">
                             <span class="glyphicon glyphicon-trash"></span></a>



                    <form action="#" method="POST" style="display:inline-block">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="{{doc.id}}">
                       <button type="submit" class="btn btn-default btn-sm">
                           UPDATE</button>
                    </form>

                </div>-->





<!--<div class="col-sm-6 col-sm-offset-3">-->
     <!--{% if instance.image %}-->
    <!--<img src="{{ instance.image.url }}" class="img-responsive"/>"-->
   <!--{% endif %}-->
    <!--<h1> {{ title }} <small>{{ instance.timestamp }}</small></h1>-->
    <!--{% if instance.draft %}-->
    <!--<h1><span style="color:red;">DRAFT</span> </h1>-->
    <!--{% endif %}-->
<!--{% if instance.user.get_full_name %}-->
    <!--<p>Autor full name {{instance.user.get_full_name}}</p>-->
    <!--{% endif %}-->

    <!--<p>Autor username: {{instance.user}}</p>-->

<!--<div class="fb-like" data-href="{{request.build_absolute.uri}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>-->

    <!--<br><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute.uri}}">-->
<!--Facebook-->
<!--</a>-->


<!--<a href="https://twitter.com/home?status={{ instance.content|truncatechars:20|urlify }}%20{{request.build_absolute.uri}}">-->
<!--Twitter-->
<!--</a>-->


    <!--<hr/>-->
    <!--This is the urlfy : {{ instance.content|truncatechars:20|urlify }}<br>-->


    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->

 <!--Content: {{ instance.content|linebreaks }}<br>-->

            <!--<hr/>-->
            <!--<br/>-->

    <!--<div class="fb-comments" data-href="{{request.build_absolute.uri}}" data-numposts="5"></div>-->

    <!--</div>-->
    <!--</div>-->
<!--</div>-->


    <!--<a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>-->


        <!--<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">-->
<!--Linkedin-->
<!--</a>-->

<!--<a href="http://www.reddit.com/submit?url=http://swiftforentrepreneurs.com/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>-->


