{% extends "blog/base.html" %}
{% block content %}




    <h1>List of Topics:</h1><br>

    <form method="GET" action="">
        <input type="text" name="q" placeholder="Find topic" value="{{request.GET.q}}"/>
        <input type="submit" value="Search"/>


    </form>
<br>
<div class="row">

{% for obj in object_list %}


  <div class="col-lg-3 col-xs-6">
    <div class="thumbnail thumbnail-blog">
        {% if obj.image %}
      <img src="{{ obj.image.url }}" class="img-responsive" style="height:150px; width:auto;"/>
        {% endif %}
      <div class="caption">
          <!--{% if obj.draft %}<h3>Staff only: DRAFT </h3>{% endif %}-->
          <!--{% if obj.publish > today %}<h3>FUTURE POST</h3> {% endif %}-->

          <h3><a href="{{ obj.get_absolute_url }}" ><strong>{{ obj.title }}</strong></a></h3><br><h5 class="section-subheading text-muted">Created: {{ obj.timestamp|timesince }} ago</h5><h5 class="section-subheading text-muted">Author: {{ obj.user }}</h5>
<br>
        <h5 class="section-subheading text-muted">{{ obj.content|linebreaks|truncatechars:30 }}</h5>
          <!--{% if obj.draft %}-->
    <!--<h1><span style="color:red;">DRAFT</span> </h1>-->
    <!--{% endif %}-->
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a>

      </div>
    </div>
  </div>
    {% endfor %}
    </div>



<!--{% cycle "" "<div class='col-sm-12'><hr/></div><div class='row'> " %}-->



    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

    </div>

    {% endblock content %}
